@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  font-family: "Ubuntu", sans-serif;
}

header {
  text-align: center;
}

footer {
  color: white;
  background-color: #596775;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
}

.input-wrapper {
  text-align: center;
  margin: 50px 10px;
}

.input-wrapper input {
  width: 270px;
  height: 40px;
  padding: 10px;
}

.users-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-thumbnail {
  border: 2px solid #e4dfdf;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 25%;
  margin: 25px;
}

.user-thumbnail a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 20px;
}

.user-thumbnail:hover {
  border: 2px solid grey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.user-thumbnail img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-thumbnail__info {
  margin-left: 20px;
}


.lb-container {
  position: relative;
}

.lb-outerContainer {
  width: 400px !important;
  border-radius: unset !important;
  -webkit-border-radius: unset !important;
  -moz-border-radius: unset !important;
  -ms-border-radius: unset !important;
  -o-border-radius: unset !important;
  padding: 30px 0 0;
}

.lb-dataContainer {
  width: 400px !important;
  border-bottom-right-radius: unset !important;
  border-bottom-left-radius: unset !important
}

.lb-image {
  margin: 0 auto;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

.lb-data .lb-details {
  color: black;
  text-align: center;
  width: 100% !important;
}

.lb-data .lb-details .lb-caption p {
  color: #8e8a8a;
  font-size: 15px;
}

.lb-caption div {
  padding: 30px 0;
  position: relative;
  box-sizing: border-box;
}

.lb-caption div::after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background: #d8d6d6;
  width: 85%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.lb-dataContainer {
  background-color: white;
  padding: 45px ​0 10px;
}

.lb-data .lb-close {
  margin: 0 10px 10px 0;
  background-size: 15px;
  width: 20px !important;
  height: 19px !important;
  background-position: center !important;
  background-color: black;
  padding: 3px;
}

.lb-nav a.lb-next, 
.lb-nav a.lb-prev {
  background-size: 35px;
  width: 35% !important;
}