@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  font-family: "Ubuntu", sans-serif;
}

header {
  text-align: center;
}

footer {
  color: white;
  background-color: #596775;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
}

.input-wrapper {
  text-align: center;
  margin: 50px 10px;
}

.input-wrapper input {
  width: 270px;
  height: 40px;
  padding: 10px;
}

.users-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-thumbnail {
  border: 2px solid #e4dfdf;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 25%;
  margin: 25px;
}

.user-thumbnail a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 20px;
}

.user-thumbnail:hover {
  border: 2px solid grey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.user-thumbnail img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-thumbnail__info {
  margin-left: 20px;
}