

.users-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-thumbnail {
  border: 2px solid grey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  width: 25%;
  margin: 25px;
  display: flex;
}

.user-thumbnail img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-thumbnail__info {
  margin-left: 20px;
}